/* Custom font for body text */
body {
    font-family: 'Roboto', sans-serif;
}

/* Custom font for headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 0.01em;
}
